@import "header.scss";
@import "info.scss";
@import "slide.scss";
@import "data.scss";
@import "footer.scss";
@import "solutions.scss";
@import "access.scss";
@import "form.scss";
@import "question.scss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  padding-left: calc(50% - 960px);
  padding-right: calc(50% - 960px);
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", "Times New Roman", Times, serif;
  max-width: 1920px;
}

input,
button,
textarea,
select {
  font: inherit;
}

.text_about {
  display: block;
  padding: 40px 15px 60px;
  background-color: #fff0e5;
}
